<div class="todo-board">
  <div class="lists">
    <app-card-list
      class="list"
      [@flyInOut]
      *ngFor="let cardList of cardLists; trackBy: cardListIdentify"
      [cardList]="cardList"
    ></app-card-list>

    <div *ngIf="isNewCardListTyping===true then thenNewCardListBlock else elseNewCardListBlock"></div>
    <ng-template #thenNewCardListBlock>
      <input
        [(ngModel)]="newCardList.name"
        placeholder="Enter list title"
        (keyup.enter)="onNewCardListEnter()"
        (keyup.escape)="onNewCardListEscape()"
        id="create-card-list-input"
      />
    </ng-template>
    <ng-template #elseNewCardListBlock>
      <button
        class="button"
        id="create-card-list-button"
        (click)="onNewCardClicked()">Add new list</button>
    </ng-template>
  </div>
</div>
<app-card-detail
  class="todos-modal"
>
</app-card-detail>


