@import "../../shared/variables";

*:not(.todos-modal) {
  background-color: $list-bg-color;
  color: #333;
  padding: 0 5px;

}

header {
  display: grid;
  grid-template-columns: 1fr 1.5em;
  line-height: $list-header-height;
  font-size: 16px;
  font-weight: bold;
  border-top-left-radius: $list-border-radius;
  border-top-right-radius: $list-border-radius;
  padding-left: calc(#{$gap} + 5px);

  > div {
    //width: 100%
    //display: inline-block
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

    > button {
      background-color: rgba(0, 0, 0, 0);
      border: rgba(0, 0, 0, 0);
      color: rgba(0, 0, 0, 0);
      min-width: auto;

      &:hover {
        color: #000000;
    }

      &:active {
        box-shadow: none !important;
        outline: 0;
    }

      input {
        width: 100%;
    }
  }
}

footer {
  line-height: $list-footer-height;
  border-bottom-left-radius: $list-border-radius;
  border-bottom-right-radius: $list-border-radius;
  color: #888;
  padding-left: calc(#{$gap} + 5px);
  padding-bottom: $gap;
}

ul {
  display: grid;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  max-height: calc(100% - #{$list-header-height} - #{$list-footer-height});
  overflow-y: auto;
}



