$gap: 10px

$list-header-height: 36px
$list-footer-height: 36px
// Misc
$list-border-radius: 5px
$card-border-radius: 3px
// Colors
$list-bg-color: #e2e4e6

*:not(.todos-modal)
  background-color: $list-bg-color
  color: #333
  padding: 0 $gap

header
  line-height: $list-header-height
  font-size: 16px
  font-weight: bold
  border-top-left-radius: $list-border-radius
  border-top-right-radius: $list-border-radius
  padding-left: calc(#{$gap} + 5px)
  > *
    width: 100%
    display: inline-block
    overflow: hidden !important
    text-overflow: ellipsis
  input
    width: 100%

footer
  line-height: $list-footer-height
  border-bottom-left-radius: $list-border-radius
  border-bottom-right-radius: $list-border-radius
  color: #888
  padding-left: calc(#{$gap} + 5px)
  padding-bottom: $gap

ul
  list-style: none
  margin: 0

  max-height: calc(100% - #{$list-header-height} - #{$list-footer-height})
  overflow-y: auto

  li
    background-color: #fff
    padding: $gap
    user-select: none
    border-radius: $card-border-radius
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1)
    margin-bottom: $gap

    &:hover
      background-color: #f4f5f7
      box-shadow: 2px 2px 0 1px rgba(0, 0, 0, 0.2)
      transition: all 200ms ease-out
      cursor: pointer

    img
      display: block
      width: calc(100% + 2 * #{$gap})
      margin: -$gap 0 $gap (-$gap)
      border-top-left-radius: $card-border-radius
      border-top-right-radius: $card-border-radius

