<!--<header>{{cardList.name}}</header>-->
<header (click)="onTitleClicked($event)">
  <div *ngIf="isTitleEdit===true then thenBlockTitle else elseBlockTitle "></div>
  <ng-template #thenBlockTitle>
    <input
      autofocus
      [(ngModel)]="clonedCardList.name"
      class="form-control"
      placeholder="{{this.clonedCardList.name}}"
      (blur)="onTitleBlur()"
      (focus)="onTitleFocus()"
      (keyup.enter)="onTitleEnter()"
      (keyup.escape)="onTitleEscape()"
    />
  </ng-template>
  <ng-template #elseBlockTitle>
    <div>{{cardList.name}}</div>
  </ng-template>
</header>
<ul>
  <li
    app-card
    appShadowOnHover
    *ngFor="let card of cards;trackBy: cardIdentify" [card]="card"
    (click)="onCardSelected(card)"
    data-toggle="modal"
    data-target="#cardDetailModal"
  ></li>
</ul>

<footer
  [id]="'createCardText' + cardList.id"
  (click)="onNewCardClicked()">
  <div *ngIf="isNewCardTyping===true then thenBlockNewCard else elseBlockNewCard "></div>
  <ng-template #thenBlockNewCard>
    <input
      autofocus
      [id]="'createCardInput' + cardList.id"
      [(ngModel)]="newCard.name"
      class="form-control"
      placeholder="Enter new card title"
      (keyup.enter)="onNewCardEnter()"
      (keyup.escape)="onNewCardEscape()"
    />
  </ng-template>
  <ng-template #elseBlockNewCard>
    Add a card....
  </ng-template>
</footer>

